{% extends 'base.html.twig' %}

{% block body %}
<div>
  <h1>Meteo Montpellier</h1>
  <p>Il fait actuellement {{temperature}}</p>
  {% if hot %}
    <p>Il fait chaud</p>
  {% endif %}
</div>
{% endblock %}
